* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(206, 176, 176);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    padding: 2vw;
    text-align: center;
}

.header h1 {
    font-size: 4vw;
}

.header h4 {
    font-size: 1vw;
}

.menu #food-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}

.card {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    width: 95vw;
    padding: 1vw;
    border-radius: 1vw;
}

.card .details p {
    font-size: 1.2vw
}

.card .details .text {
    font-size: 1.5vw;
}

.card .btn-div button {
    padding: 0.8vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    border: 1px solid rgb(211, 180, 139);
    box-shadow: 0 0 8px rgba(91, 91, 91, 0.5);
}

.card .btn-div button:hover {
    scale: 1.1;
    font-weight: bold;
}

#order {
    padding: 2vw;
}

#order button {
    width: 100%;
    padding: 0.8vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    border: 1px solid rgb(211, 180, 139);
    box-shadow: 0 0 8px rgba(91, 91, 91, 0.5);
}

#order button:hover {
    scale: 1.02;
    font-weight: bold;
}

.bill-container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(206, 176, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.2vw;
}

.bill-container .bill {
    height: 40vw;
    width: 60vw;
    background-color: white;
    border-radius: 3vw;
    padding: 2vw;
}

.bill-container .bill .customer {
    padding: 1vw;
    border-bottom: 2px dashed black;
    display: flex;
    flex-direction: column;
}

.pricing {
    padding: 1vw;
}

table {
    width: 100%;
}

table,
tr,
th,
td {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    padding-right: 2vw;
}

@media (max-width: 600px) {
    .header {
        padding: 2vh;
        text-align: center;
    }

    .header h1 {
        font-size: 4vh;
    }

    .header h4 {
        font-size: 1vh;
    }

    .menu #food-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        padding: 1vh;
    }

    .card {
        background-color: antiquewhite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vh;
        width: 95vw;
        padding: 1vh;
        border-radius: 1vh;
    }

    .card .details p {
        font-size: 1.2vh
    }

    .card .details .text {
        font-size: 1.5vh;
    }

    .card .btn-div button {
        padding: 0.8vh;
        border-radius: 0.5vh;
        font-size: 1vh;
        border: 1px solid rgb(211, 180, 139);
        box-shadow: 0 0 8px rgba(91, 91, 91, 0.5);
    }

    .card .btn-div button:hover {
        scale: 1.1;
        font-weight: bold;
    }

    .bill-container {
        height: 100vh;
        width: 100vw;
        background-color: rgb(206, 176, 176);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 1.2vh;
    }

    .bill-container .bill {
        height: 60vh;
        width: 60vh;
        background-color: white;
        border-radius: 3vh;
        padding: 2vh;
    }

    .bill-container .bill .customer {
        padding: 1vh;
        border-bottom: 2px dashed black;
        display: flex;
        flex-direction: column;
    }

    .pricing {
        padding: 1vh;
    }
}